.container{
    margin: 0 auto;
    color: rgb(159, 125, 198);
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #d3c0e8;
  padding: 24px;
  height: 200px;
  width: 320px;
  border-radius: 8px;
  text-align: center;
}
.closeBtn{
    background-color: rgb(226, 43, 217);
    color: aliceblue;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid grey;
}
